// RESET CSS
*,
*::after,
*::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html,
body {
	height: 100%;
	scroll-behavior: smooth;
}

html {
	font-size: 62.5%;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	font-family: sans-serif;
	background: linear-gradient(45deg, #395231, #63d471 75%);
	background-repeat: no-repeat;
	background-attachment: fixed;
}

a {
	text-decoration: none;
}

input,
button,
textarea,
select {
	font-family: inherit;
}

button {
	border: none;
	cursor: pointer;
}

textarea {
	resize: vertical;
}

// MY STYLE

table {
	border-collapse: collapse;
	border-spacing: 0;
}

table,
td,
th {
    border: 1px solid black;
}
 
td,
th {
    padding: 5px 20px;
}
 
thead {
    background-color: #087f23;
}
 
tbody {
    background-color: #fff;
}

input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
  }

.add-base {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#add-game {
    padding: 10px 20px;
    margin: 5px;
    color: #fff;
    background-color: #d81b60;
    border-radius: 5%;
}
